div#carousel-1 { 
    perspective: 900px;
    padding-top: 20%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
    padding-right: 10%;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 400px; 
    transform-origin: 70% 70% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 65%; 
    max-width: 600px; 
    position: absolute; 
    left: 15%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-100deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-200deg); }
  div#carousel-1 ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel-1 ~ span:hover { color: #888; cursor: pointer; }


  /* -------- SECOND CAROUSSEL ---------*/
  div#carousel-2 { 
    perspective: 900px;
    padding-top: 20%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner-2 { 
    transform-style: preserve-3d; 
    height: 400px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner-2 img { 
    width: 65%; 
    max-width: 900px; 
    position: relative; 
    right: 5%;
    left: 15%;
    transform-origin: 50% 50% -500px;
    outline:11px solid transparent; 
  }
  figure#spinner-2 img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner-2 img:nth-child(2) { transform: rotateY(-120deg); }
  figure#spinner-2 img:nth-child(3) { transform: rotateY(-240deg); }
  div#carousel-2 ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel-2 ~ span:hover { color: #888; cursor: pointer; }



    /* -------- THIRD CAROUSSEL ---------*/
  div#carousel-3 { 
        perspective: 900px;
        padding-top: 20%; 
        font-size:0; 
        margin-bottom: 3rem; 
        overflow: hidden; 
  }
  figure#spinner-3 { 
    transform-style: preserve-3d; 
    height: 400px; 
    transform-origin: 70% 70% -500px; 
    transition: 1s; 
  } 
  figure#spinner-3 img { 
    width: 65%; 
    max-width: 600px; 
    position: absolute; 
    left: 25%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner-3 img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner-3 img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner-3 img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner-3 img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel-3 ~ span { 
    color: #000; 
    margin: 15%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel-3 ~ span:hover { color: #888; cursor: pointer; }


   /* -------- FOURTH CAROUSSEL ---------*/
   div#carousel-4 { 
    perspective: 900px;
    padding-top: 20%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner-4 { 
    transform-style: preserve-3d; 
    height: 400px; 
    transform-origin: 70% 70% -500px; 
    transition: 1s; 
  } 
  figure#spinner-4 img { 
    width: 65%; 
    max-width: 600px; 
    position: absolute; 
    right: 25%;
    transform-origin: 50% 50% -500px;
    outline:11px solid transparent; 
  }
  figure#spinner-4 img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner-4 img:nth-child(2) { transform: rotateY(45deg); }
  figure#spinner-4 img:nth-child(3) { transform: rotateY(90deg); }
  figure#spinner-4 img:nth-child(4) { transform: rotateY(135deg); }
  figure#spinner-4 img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner-4 img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel-4 ~ span { 
    color: #000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel-4 ~ span:hover { color: #888; cursor: pointer; }